<mat-card>Ingrese los datos del paciente</mat-card>

<br>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmCliente="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="id_tb_cliente" required formControlName="id_tb_cliente">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="nombre" required formControlName="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="apellido" required formControlName="apellido">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="correo" required formControlName="correo">
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="frmCliente.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='*' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
