<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="idCliente">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.idCliente}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="correo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">

  </mat-row>
</mat-table>
